html, body {
    height: 100vh;
    margin: 0 auto;
}

body {
    padding-right: 1rem;
    padding-left: 1rem;
}

.flex-row, .new-players-row {
    display: flex;
    flex-direction: row;
}

.new-players-row > button {
    margin: .5em;
    background-color: #35a151;
    background-color: #1bc970;
    color: #FFFFFF;
    font-size: large;
    border-radius: 10%;
    height: 2rem;
    width: 4.5rem;
}

.container {
    height: 80%;
    display: grid;
    gap: .5rem;
    place-items: center;
    grid-template-rows: .5fr 3.5fr;
    grid-template-columns: auto auto .3fr;
}

.span {
    grid-column: 1 / span 2;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.block {
    display: block;
}

.score-cell-serving {
    width: 100%;
    height: 100%;
    background-color: #1bc970; 
    border: 2rem;
    border-color: #FFFFFF;
    border-radius: 10%;
}

.score-cell {
    width: 100%;
    height: 100%;
    background-color: #000000; 
    border: 2rem;
    border-color: #FFFFFF;
    border-radius: 10%;
}

.score {
    width: 100%;
    min-width: 10rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8em;
    color: #FFFFFF;
}

.title {
    font-size: xx-large;
    font-weight: bolder;
}

.option-tray {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 1rem;
}

button {
    background-color: #35a151;
    background-color: #1bc970;
    color: #FFFFFF;
    font-size: large;
    border-radius: 10%;
    height: 3rem;
    width: 9rem;
}

button:disabled{
    background-color: #5d6860;
}

#max-score-drop-down, #max-serves-drop-down {
    font-size: xx-large;
}

.winner {
    background-image: url(../Images/winner.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#totals{
    height: 100%;
}

#games-won-table td, tr {
    vertical-align: top;
    min-width: 3em;
}

#games-won-table td, th{
    text-align: center;
}

#games-won-table th{
    text-align: center;
    border-bottom: 1pt solid black;
}

#games-won-table th:first-child{
    text-align: left;
}

#games-won-table td:first-child{
    text-align: left;
}

/* Disable highlighting */
* {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}