html, body {
    height: 100vh;
    margin: 0 auto;
}

body {
    padding-right: 1rem;
    padding-left: 1rem;
}

.new-players-row {
    display: flex;
    flex-direction: row;
}

.new-players-row > button {
    margin: .5em;
    background-color: #35a151;
    background-color: #1bc970;
    color: #FFFFFF;
    font-size: large;
    border-radius: 10%;
    height: 2rem;
    width: 4.5rem;
}

.container {
    height: 100%;
    display: grid;
    gap: .5rem;
    place-items: center;
    grid-template-rows: 5% 80% 8%;
    grid-template-columns: auto auto .3fr;
}

input[type=checkbox] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}

.font-small {
    font-size: small;
}

.mr-auto {
    margin-right: auto;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.block {
    display: block;
}

.score-cell-serving {
    width: 100%;
    height: 100%;
    background-color: #1bc970; 
    border: 2rem;
    border-color: #FFFFFF;
    border-radius: 10%;
}

.score-cell {
    width: 100%;
    height: 100%;
    background-color: #000000; 
    border: 2rem;
    border-color: #FFFFFF;
    border-radius: 10%;
}

.score {
    width: 100%;
    min-width: 10rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8em;
    color: #FFFFFF;
}

.title {
    font-size: xx-large;
    font-weight: bolder;
}

.option-tray {
    grid-column: 1/-1; /* Span all columns */
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

button {
    background-color: #35a151;
    background-color: #1bc970;
    color: #FFFFFF;
    font-size: large;
    border-radius: 10%;
    height: 3rem;
    width: 9rem;
}

button:disabled{
    background-color: #5d6860;
}

.deleteUserBtn {
    padding: 0%;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #089f52;
}

#max-score-drop-down, #max-serves-drop-down {
    font-size: xx-large;
}

.winner {
    background-image: url(../Images/winner.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#totals{
    height: 100%;
}

#games-won-table {
    display: block;
    overflow-x: hidden;
    height: 80%;
}

#games-won-table td, tr {
    vertical-align: center;
    min-width: 3em;
}

#games-won-table td, th{
    text-align: center;
}

#games-won-table th{
    text-align: center;
    border-bottom: 1pt solid black;
}

#games-won-table th:first-child{
    text-align: left;
}

#games-won-table td:first-child{
    text-align: left;
}

/* Disable highlighting */
:not(input) {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

  @media screen and (max-height: 430px){
    .container {
        height: 100%;
        display: grid;
        gap: 0.5rem;
        place-items: center;
        grid-template-rows: 10% 60% 15% 5%;
        grid-template-columns: auto auto .3fr;
    }
  }

  @media screen and (orientation: portrait) {
    .container {
        height: 50%;
        grid-template-rows: 10% 60% 15% 5%;
    }
  }